.card {
    background-color: #f0f0f6;
    border-radius: 8px;
    padding: 32px 24px;
    box-sizing: border-box;
    width: 340px;
}

.card__header {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 1em;
}

.accordion {
    list-style: none;
    margin: 0;
    padding: 0;
}

.accordion__item:not(:last-of-type) {
    margin-bottom: 12px;
}

.accordion-item__title {
    margin: 0;
}

.accordion-item__button {
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    border: 0;
    width: 100%;
    cursor: pointer;
    padding: 12px;
    position: relative;
    font-weight: 600;
    font-family: inherit;
    color: inherit;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    &[data-accordion-expanded='true'] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.1);
    }
}

.accordion-item__arrow {
    background-color: #41413b;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    & > svg {
        transform: translateY(1px);
    }
}

.accordion-item__button[data-accordion-expanded='true'] .accordion-item__arrow {
    background-color: #f6483a;
    transform: rotate(180deg);
}

.accordion-item__content {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    padding: 0 12px;
}

.accordion-item__content[data-accordion-expanded='true'] {
    margin-top: 4px;
}

.user-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

.user-list__item {
    display: flex;
    font-size: 0.9em;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    &:not(:last-of-type) {
        border-bottom: 1px solid #f0f0f6;
    }
}

.user-list__budget {
    background-color: #46c581;
    padding: 2px 12px;
    border-radius: 4px;
    font-weight: 400;
    color: #fff;
    min-width: 44px;
    text-align: center;
}
