html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f6483a;
    overflow-x: hidden;
    color: #41413b;
}
